<ion-toolbar>

  <ion-tabs>

    <ion-tab-bar slot="bottom" color="custom-navbar">
      <ion-tab-button tab="searchicon">
        <ion-icon name="searchicon" src="assets/icon/searchicon.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="chaticon">
        <ion-icon name="chaticon" src="assets/icon/chaticon.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="tagicon">
        <ion-icon name="tagicon" src="assets/icon/tagicon.svg"></ion-icon>
      </ion-tab-button>

      <ion-tab-button tab="profileicon">
        <ion-icon name="profileicon" src="assets/icon/profileicon.svg"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
  
</ion-toolbar> 