<ion-tabs>

  <ion-tab-bar slot="bottom" color="custom-navbar">
    <ion-tab-button tab="home">
      <ion-icon name="custom-icon" src="assets/icon/tagicon.png"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="settings">
      <ion-icon name="settings"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>