<ion-card class="card-design">
    <ion-img alt="Silhouette of mountains" src="https://ionicframework.com/docs/img/demos/card-media.png" class="card-image"></ion-img>
    <ion-card-header>
        <ion-card-title class="card-title">Card Title</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <p class="card-description">Here's a small text description for the card content. Nothing more, nothing less.</p>
    </ion-card-content>
    <ion-row class="ion-justify-content-center">
        <ion-button class="button-design" expand="block">Message Seller</ion-button>
    </ion-row>
</ion-card>