<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-text-center">
  <h1 class="ion-padding-top">PreLoved</h1>

  <ion-item>
    <ion-label position="stacked">Username</ion-label>
    <ion-input [(ngModel)]="username"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="stacked">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-row class="ion-margin-top">
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-button expand="block" (click)="signUp()">SIGN UP</ion-button>
    </ion-col>
  </ion-row>

  <ion-row class="ion-margin-top">
    <ion-col size="12" size-md="6" offset-md="3">
      <ion-button expand="block" (click)="signIn()">SIGN IN</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
