.login_page{
    --ion-background-color: #FDE3A7;
}

.loginButton{
    --background: #FABE58;
    --color: #000000;
    
    --border-radius: 10px;
    --border-color: #000;
    --border-style: solid;
    --border-width: 3px;
}

