.card-design {
    background-color: #FDE3A7;
    border: 1.5px solid black;
    // width: 250px;
    // height: 300px;
}

.card-image {
    // display: absolute;
    margin: 5%;
    border: 1.5px solid black;
}

.card-title {
    color: black;
}

.card-description {
    color: black;
}

.button-design {
    // display: absolute;
    --background: #FABE58;
    --color: black;
    margin-bottom: 3%;
}

