<!-- I suggest 2 people work on the homepage, 
    including the navigation bar, product cards,  'add to relevancy,' and saved items features. -->

<!-- CREATING A NEW MODULE --- 
ng g c "COMPONENTNAME"
create component.module.ts
import in homepage module -->



<ion-content>
    <ion-header>
        <ion-toolbar color="default">
            
            <ion-buttons slot="start">
                <ion-menu-button class="menu-button-design" color="light"></ion-menu-button>
            </ion-buttons>
            
            <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
            
            <ion-buttons slot="end">
                <ion-button class="cart-button-design">
                    <ion-icon name="cart" src="assets/icon/cart.svg"></ion-icon>
                </ion-button>
            </ion-buttons>
        
        </ion-toolbar>
    </ion-header>

    <app-productcard></app-productcard>
    <app-navbar></app-navbar>
</ion-content>


