<!-- I suggest 2 people work on the homepage, 
    including the navigation bar, product cards,  'add to relevancy,' and saved items features. -->

<!-- CREATING A NEW MODULE --- 
ng g c "COMPONENTNAME"
create component.module.ts
import in homepage module -->



<ion-content>
    <ion-header>
        <ion-toolbar color="default">
            
            <ion-menu-button slot="start" class="menu-button-design" color="light"></ion-menu-button>
            
            <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
            
            <ion-button class="cart-button-design" slot="end">
                <ion-icon name="cart" src="assets/icon/cart.svg"></ion-icon>
            </ion-button>
        
        </ion-toolbar>
    </ion-header>

    <ion-searchbar class="searchbar"></ion-searchbar>

    
    <app-productcard></app-productcard>

    <app-homeproductcard></app-homeproductcard>
    
    <app-navbar></app-navbar>
</ion-content>


