<!-- I suggest 2 people work on the homepage, 
    including the navigation bar, product cards,  'add to relevancy,' and saved items features. -->

<!-- CREATING A NEW MODULE --- 
ng g c "COMPONENTNAME" in terminal
create component.module.ts
import in homepage module -->

<!-- blur background -->
<!-- <div class="clicked-background" (click)="removeBg($event)" *ngIf="isBgBlurred"></div>  -->

<ion-header>
    <ion-toolbar color="default">
        
        <ion-menu-button slot="start" class="menu-button-design" color="light"></ion-menu-button>
        
        <ion-img src="assets/icon/logo.svg" class="logo"></ion-img>
        
        <ion-button class="cart-button-design" slot="end">
            <ion-icon name="cart" src="assets/icon/cart.svg"></ion-icon>
        </ion-button>
    
    </ion-toolbar>
</ion-header>

<div class="scrollable-row">
    <div class="row-flex-container">
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
        <ion-button size="small" class="row-flex-item no-ripple">Item 1</ion-button>
    </div>
</div>

<ion-content>
    
    <ion-searchbar class="searchbar"></ion-searchbar>

    <div class="product-flex">
        <!-- [ngClass]="{'featured-card-component': isFeatured}" -->
        <!-- <ion-card ion-gesture (click)="onSwipe($event)"><app-homeproductcard></app-homeproductcard></ion-card> -->
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Nike Shoes" distance="0.2 mi" imageURL="assets/sample-data/shoes1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Scooter" distance="1 mi" imageURL="assets/sample-data/scooter1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="HELLO KITTY..." distance="1.2 mi" imageURL="assets/sample-data/hellokitty1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Desk Chair" distance="0.7 mi" imageURL="assets/sample-data/chair1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Long Sleeve..." distance="0.3 mi" imageURL="assets/sample-data/shirt1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Gaming PC" distance="0.9 mi" imageURL="assets/sample-data/pc1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Electric Bike" distance="1.6 mi" imageURL="assets/sample-data/bike.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Video Camera" distance="0.4 mi" imageURL="assets/sample-data/camera1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Desk Lamp" distance="0.8 mi" imageURL="assets/sample-data/lamp1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Bass Pro Hat" distance="0.1 mi" imageURL="assets/sample-data/hat1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="Designer Pu..." distance="0.9 mi" imageURL="assets/sample-data/purse1.svg"></app-homeproductcard>
        <app-homeproductcard (click)="DisplayMoreInfo($event)" productName="iPhone XR" distance="1.5 mi" imageURL="assets/sample-data/phone1.svg"></app-homeproductcard>




    </div>
    <!-- <div #myElement>  -->
        <div class="display-items-container" *ngIf="isFeatured">
            <!-- <div class="clicked-background"></div> -->
            <div class="saved-items-container">
                <div class="saved-items-title">Saved Items</div>
                <div class="saved-item"><ion-img src="assets/sample-data/saved1.svg"></ion-img></div>
                <div class="saved-item"><ion-img src="assets/sample-data/saved2.svg"></ion-img></div>
                <div class="saved-item"><ion-img src="assets/sample-data/saved3.svg"></ion-img></div>
                <div class="saved-item"></div>
            </div>
            <div class="relevancy-items">
                <div class="saved-items-title">Relevent Items</div>
                <div class="saved-item"><ion-img src="assets/sample-data/r1.svg"></ion-img></div>
                <div class="saved-item"><ion-img src="assets/sample-data/r2.svg"></ion-img></div>
                <div class="saved-item"><ion-img src="assets/sample-data/r3.svg"></ion-img></div>
                <div class="saved-item"></div>
            </div>
            <!-- <div class="featured-card"> <ion-img src="assets/sample-data/shoes1.svg"></ion-img> </div> -->
            <div class="similar-items">
                  <ion-content class="ion-padding">
                    <ion-button expand="block" (click)="setSimilarItemsOpen(true)">Similar Items</ion-button>
                    <ion-modal class="similar-items-modal" [isOpen]="isSimilarItemsOpen">
                      <ng-template>
                        <ion-header>
                          <ion-toolbar>
                            <ion-title>Similar Items</ion-title>
                            <ion-buttons slot="end">
                              <ion-button (click)="setSimilarItemsOpen(false)">Close</ion-button>
                            </ion-buttons>
                          </ion-toolbar>
                        </ion-header>
                        <ion-content class="ion-padding">
                            <div class="product-flex">
                                <!-- [ngClass]="{'featured-card-component': isFeatured}" -->
                                <!-- <ion-card ion-gesture (click)="onSwipe($event)"><app-homeproductcard></app-homeproductcard></ion-card> -->
                                <app-homeproductcard productName="Air Jordan..." distance="0.2 mi" imageURL="assets/sample-data/shoes2.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Air Jordan..." distance="1 mi" imageURL="assets/sample-data/shoes3.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Jordan 1" distance="1.2 mi" imageURL="assets/sample-data/shoes4.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Off White..." distance="1.2 mi" imageURL="assets/sample-data/shoes5.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Jordan Th..." distance="0.7 mi" imageURL="assets/sample-data/shoes6.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Air Jordans" distance="0.3 mi" imageURL="assets/sample-data/shoes7.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Air Max 97" distance="0.9 mi" imageURL="assets/sample-data/shoes8.svg"></app-homeproductcard>
                                <app-homeproductcard productName="Dunk Lows" distance="1.6 mi" imageURL="assets/sample-data/shoes9.svg"></app-homeproductcard>

                            </div>
                        </ion-content>
                      </ng-template>
                    </ion-modal>
                  </ion-content>
            </div>
            
            <!-- <app-homeproductcard></app-homeproductcard> -->

                    
            <!-- </div> -->
            <!-- <app-homeproductcard [ngClass]="{'featured-card-component': isFeatured}"></app-homeproductcard> -->
        </div>
    <!-- </div> -->

    <!-- <app-productcard></app-productcard> -->

    <!-- <app-columnview></app-columnview> -->
    
</ion-content>

<app-navbar></app-navbar>


