.card-design {
    background-color: #FDE3A7;
    border: 1.5px solid black;
}

// .product-image {
//     margin: 5%;
//     border: 1.5px solid black;
// }

// .card-content {
//     margin-top: -8%;
//     margin-bottom: -8%;
// }

.labels {
    display: flex;
    justify-content: space-between;
}

.product-distance {
    color: black;
    font-size: 2vw; /* adjust this value to your liking */
}
