.card-design {
    background-color: #FDE3A7;
    border: 1.5px solid black;
}

// .product-image {
//     margin: 5%;
//     border: 1.5px solid black;
// }

.labels {
    display: flex;
    justify-content: space-between;
}

.product-distance {
    color: black;
}
